<form class="form-group">
  <input value="0" style="width:30%; display: inline;" class="form-control" #price type="number" name="number" min="0" placeholder="price">
  <select style="width:30%; display: inline;" #originId class="custom-select">
      <option value="0">Select origin</option>
      <option *ngFor="let item of cityList" value={{item.id}}>{{ item.name }}</option>
    </select>
  <select style="width:30%; display: inline;" #destinationId class="custom-select">
    <option value="0">Select destination</option>
    <option *ngFor="let item of cityList" value={{item.id}}>{{ item.name }}</option>
  </select>
  <button style="width:9%" class="btn btn-primary" (click)="filter(price.value, originId.value, destinationId.value)">Filter</button>
</form>

<table class="table">
  <thead>
    <tr>
    <th>
      Flight Number
    </th>
    <th>
      Destination
    </th>
    <th>
      Origin
    </th>
    <th>
      Price
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flightsToShow">
    <td>{{ flight.flightNumber }}</td>
    <td>{{ flight.destination }}</td>
    <td>{{ flight.origin }}</td>
    <td>{{ flight.price }}$</td>
  </tr>
</tbody>
</table>