<form class="form-group">
  <input value="0" style="width:30%; display: inline;" class="form-control" #price type="number" name="number" min="0" placeholder="price">
  <select style="width:30%; display: inline;" #originId class="custom-select">
      <option value="0">Select origin</option>
      <option *ngFor="let item of cityList" value={{item.id}}>{{ item.name }}</option>
    </select>
  <select style="width:30%; display: inline;" #destinationId class="custom-select">
    <option value="0">Select destination</option>
    <option *ngFor="let item of cityList" value={{item.id}}>{{ item.name }}</option>
  </select>
  <button style="width:9%" class="btn btn-primary" (click)="filter(price.value, originId.value, destinationId.value)">Filter</button>
</form>

<table class="table">
  <thead>
    <tr>
    <th>
      Flight Number
    </th>
    <th>
      Destination
    </th>
    <th>
      Origin
    </th>
    <th>
      Price
    </th>
    <th>
      Map
    </th>
    <th *ngIf="isAdmin">
      Actions
    </th>
    <th *ngIf="!isAdmin">
      Book
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flightsToShow">
    <td>{{ flight.flightNumber }}</td>
    <td>{{ flight.destination }}</td>
    <td>{{ flight.origin }}</td>
    <td>{{ flight.price }}$</td>
    <td><img class="zoom" style="width:100px; height: 100px;"  src="https://dev.virtualearth.net/REST/v1/Imagery/Map/AerialWithLabels/{{flight.destination}}?highlightEntity=1&key=An1CK1H4UGFk1_HFAL7g9EfE7E8iTjzNN2hikZl8yzFpNpDNvNYufpC_IvHhyTIp" /></td>
    <td *ngIf="isAdmin"><button class="btn btn-warning" (click)="deleteFlight(flight.id)">Remove</button><button class="btn btn-warning" (click)="editFlight(flight.id)">Edit</button></td>
    <td *ngIf="!isAdmin"><button class="btn btn-warning" (click)="bookFlight(flight.id, flight.price)">Order Flight</button></td>
  </tr>
</tbody>
</table>